@using Carmasters.Core.Application.Configuration
@using Carmasters.Core.Application.Model
@using Carmasters.Core.Domain
@using Carmasters.Http.Api
@model PricingOptions
<p class="text-sm whitespace-pre-line  text-gray-500">@Model.Invoice.Disclaimer</p>