{
  "PdfDirectory": "/var/carcare/pdf",
  "PuppeteerPath": "/opt/puppeteer",
  "JwtOptions": { 
    "Secret": "[your-jwt-secret]", 
    "ConsumerSecret": "[your-server-secret]"
  },
  "DbOptions": {
    "Host": "db",
    "Port": 5432,
    "UserId": "carcare",
    "Password": "carcare",
    "Name": "carcare",
    "MultiTenancy": {
      "Enabled": false
    }
  },
 "SmtpOptions": {
     "Host": "mailhog",
     "Port": "1025",
     "User": "",
     "Password": ""
 },
  "GoogleRecaptchaV3": {
    "Secret": "[recaptcha-secret]"
  },
  "Cors": {
    "AppHost": "localhost"
  }
}