{
  "PdfDirectory": "/var/carcare/pdf",
  "PuppeteerPath": "/opt/puppeteer",
  "JwtOptions": { 
    "Secret": "[your-jwt-secret]", 
    "ConsumerSecret": "[your-server-secret]"
  },
  "DbOptions": {
    "Host": "localhost",
    "Port": 5432,
    "UserId": "carcare",
    "Password": "[your-db-password]",
    "Name": "carcare",
    "MultiTenancy": {
      "Enabled": true,
      "Suffix": {
        "Tenancy": "tenancy",
        "Template": "template"
      }
    }
  },
  "SmtpOptions": {
    "Host": "[smtp-host]",
    "Port": "[smtp-port]",
    "User": "[smtp-user]",
    "Password": "[smtp-password]"
  },
  "GoogleRecaptchaV3": {
    "Secret": "[recaptcha-secret]"
  },
  "Cors": {
    "AppHost": "localhost"
  }
}