@import 'tailwindcss';
 
@theme {
  --font-sans: Inter, sans-serif;
  --font-sans--font-feature-settings: 'cv11';
  --breakpoint-3xl: 120rem;
}
@layer base {
  button,
  [role='button'] {
    cursor: pointer;
  }
  button:disabled,
  [role='button']:disabled {
    cursor: default;
  }
}
.menu-button {
  overflow: auto !important;
  padding-right: 0px !important;
}